<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./stylesheets/styleAbout.css">
</head>

<nav id="navbar">
  <div class="navbar-container">
    <ul class="navbar-items">
      <li><a href="/home">Home</a></li>  
    </ul>
  </div>
</nav>


<body>
  <h1>Who's this guy ?</h1>  

  <section class="dark-background" id="general-information">
    <article class="container">
      <h3> Hi There ! </h3>
      <p class="text"> My name is José Pedro Pereira. I was born in Portugal in '96 in a city near Lisbon called Barreiro. </p>
    </article>

    <article class="container">
      <h3> About Me </h3>
      <p class="text">I have a lot of energy so, the only way to waste it is by practicing all types of physical activities when possible and always pushing myself to the limit. </p>
      <p class="text">I also have a passion for fitness and diet (another way to keep the energy flowing) and I follow this lifestyle for about 8 years now. </p>
      <p class="text">I'm always down to explore new places as well, but I still have soooooo much of this world to see. </p>
    </article>

    <article class="container">
      <h3> Aiming To </h3>
      <p class="text"> Become a web developer and land a job that pushes me to learn even more while having the oportunity to work remotly to be able to explore and stay away from the normal office job routine. </p>
      
    </article>
  </section>
</body>

</html>