@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Lobster&family=Press+Start+2P&display=swap');

body {
    background: url(/images/paper-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
  }

  #navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
} 

#navbar .navbar-container .logo {
    height: 100px;
    width: auto;
}

#navbar .navbar-container ul {
    display: flex;
    list-style: none;
    
    }

#navbar .navbar-container ul li {
    padding: 0 20px;
    font-size: 30px;
    
   
}

a {
    text-decoration: none;
    color: aliceblue;
}

#navbar .navbar-container {

    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
h3 {
    font-family: 'Fira Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 0;
}

h4 {
    font-family: 'Fira Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 0;
    padding-top: 10px;
}

h1 {
    font-family: 'Lobster';
    padding-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: black;
    margin-bottom: 0;
    
}